<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 常量定义start -->
    <!-- 默认日志输出格式 -->
    <property name="DEFAULT_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}$${hostname}$$[%thread]$$%-5level$$%logger{50}$$-$$[%file:%line]$$-$$%msg%n" />
    <property name="MAX_HISTORY" value="30" />
    <!-- 常量定义end -->

    <!-- 默认日志的console appender，本地使用的日志 -->
    <springProfile name="dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{50}) - %yellow([%file:%line]) - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    </springProfile>

    <!-- 服务器上使用的appender start -->
    <!-- 默认的file appender，按天切分日志 -->
    <springProfile name="!dev">
        <appender name="ROLLING_FILE_DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<file>/home/logs/store-api-portal/${HOSTNAME}.log</file>-->
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/home/logs/store-api-portal/${HOSTNAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>${MAX_HISTORY}</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${DEFAULT_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <!-- 错误日志，按天切分 -->
        <appender name="ROLLING_FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <!--<file>/home/logs/store-api-portal/${HOSTNAME}_error.log</file>-->
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/home/logs/store-api-portal/${HOSTNAME}_error.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>${MAX_HISTORY}</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${DEFAULT_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <appender name="ASYNC" class = "ch.qos.logback.classic.AsyncAppender">
            <discardingThreshold>0</discardingThreshold>
            <queueSize>512</queueSize>
            <appender-ref ref="ROLLING_FILE_DEFAULT"/>
            <!--<appender-ref ref="ROLLING_FILE_ERROR"/>-->
        </appender>

        <appender name="ASYNC_ERROR" class = "ch.qos.logback.classic.AsyncAppender">
            <discardingThreshold>0</discardingThreshold>
            <queueSize>512</queueSize>
            <appender-ref ref="ROLLING_FILE_ERROR"/>
        </appender>
    </springProfile>

    <!--<logger name = "org.springframework.amqp.rabbit.listener.BlockingQueueConsumer" level ="WARN"/>-->
    <!--<logger name="com.hualala.grpc.logging.LoggingClientInterceptor" level="WARN"/>-->
    <!--<logger name="com.hualala" level="DEBUG" additivity="false">-->
        <!--<springProfile name="dev">-->
            <!--<appender-ref ref="STDOUT"/>-->
        <!--</springProfile>-->
        <!--<springProfile name="!dev">-->
            <!--<appender-ref ref="ASYNC" />-->
            <!--<appender-ref ref="ASYNC_ERROR"/>-->
        <!--</springProfile>-->
    <!--</logger>-->

    <root level="DEBUG">
            <appender-ref ref="STDOUT" />
        <springProfile name="!dev">
            <appender-ref ref="ASYNC" />
            <appender-ref ref="ASYNC_ERROR"/>
        </springProfile>
    </root>
</configuration>